<div class="jumbotron">
  <h1 class="display-3">It's just a box of ideas</h1>
  <p class="lead">There's nothing really else here besides that.</p>
  <hr class="m-y-2">
  <p>These are all just placeholders for now. Please stop reading.</p>
  <p>The button below does not work. Don't click it.</p>
  <p class="lead">
    <a class="btn btn-primary-outline btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
