<nav class="navbar navbar-light">
  <a class="navbar-brand" href="/">IDEA BOX!</a>
  <div class="form-inline pull-xs-right">
    <input class="form-control search-box" type="text" placeholder="Search">
  </div>
</nav>
