html body, .jumbotron
  margin-top: 25px
  font-family: 'Raleway', sans-serif

.main-body
  margin-bottom: 75px

.muted
  color: red
  font-size: 0.8em

input.idea-submit
  margin-top: 15px

.idea-delete
  position: absolute
  font-size: 1em
  color: white
  background-color: #d00000
  border-radius: 20%
  height: 20px
  width: 20px
  top: 5px
  right: 5px
  text-align: center
  line-height: 1.2
  cursor: pointer

p.lead
  color: red

i.fa
  padding: 3px

i.fa:hover
  color: red
  cursor: pointer

.navbar-static-bottom
  margin-bottom: 10px

.navbar, .navbar-static-bottom
  background-color: #eceeef

.display-4
  text-transform: uppercase

label > span
  color: red
  font-size: 0.8em
